label, div{
    font-size: 16px;
    font-weight: normal;
    font-family: sans-serif;
}
body{
    background-color: rgb(21, 96, 170);
}
.caja{
    background-color: rgb(249, 250, 237);
    border: 1px solid black;
    padding: 20px;
}
input[type="text"], select{
    width: 100%;
}
input[type="text"], select{
    width: 100%;
}
input[type="submit"]{
    margin: 10px 20px;
}
.esc{
    height: 30%;
    width: 100%;
    object-fit: cover;
}
.pie{
    border-top: 1px solid black;
    background-color: black;
    padding: 5px 3px;
    padding-bottom: 30px;
}
.pietexto{
    color: white;
    text-align: left;
}
.pietitulo{
    color: white;
    font-weight: normal;
    text-align: center                                    ;
}
.espe{
    padding: 0px 50px;
}
.cuerpo{
    padding: 30px 50px;
}
label{
    padding: 3px 5px;
}
img{
    width: 100%;
    height: 30%;
}